<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buat Permintaan Pengiriman</title>
    <!-- Tambahkan CSS atau elemen lain yang diperlukan -->
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <style>
        /* Tambahkan CSS sesuai kebutuhan Anda */
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header h2 {
            margin: 0;
        }
    </style>
</head>
<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <div class="container mt-5">
        <div class="header">
            <h2>Buat Permintaan Pengiriman</h2>
        </div>        
        <hr />
        <div class="row">
            <form th:action="@{/permintaan-pengiriman/tambah}" th:object="${permintaanPengirimanDTO}" method="post">
                <div class="row">

                    <!-- Kolom Pertama -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="karyawan">Karyawan Bertugas:</label>
                            <select class="form-control" id="karyawan" name="karyawan.id" th:field="*{karyawan.id}">
                                <!-- Isi dropdown dengan daftar nama karyawan yang ada -->
                                <option th:each="karyawan : ${listKaryawan}" th:value="${karyawan.id}" th:text="${karyawan.name}"></option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="nama_penerima">Nama Penerima:</label>
                            <input type="text" class="form-control" id="nama_penerima" name="nama_penerima" th:field="*{nama_penerima}" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="alamat_penerima">Alamat Penerima:</label>
                            <input type="text" class="form-control" id="alamat_penerima" name="alamat_penerima" th:field="*{alamat_penerima}" required>
                        </div>
                    </div>
    
                    <!-- Kolom Kedua -->
                    <div class="col-md-6 mb-2">
                        <div class="form-group">
                            <label for="tanggal_pengiriman">Tanggal Pengiriman:</label>
                            <input type="date" class="form-control" id="tanggal_pengiriman" name="tanggal_pengiriman" th:field="*{tanggal_pengiriman}" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="jenis_layanan">Jenis Layanan:</label>
                            <select class="form-control" id="jenis_layanan" name="jenis_layanan" th:field="*{jenis_layanan}">
                                <!-- Isi dropdown dengan pilihan jenis layanan yang ada -->
                                <option value="1">Same Day</option>
                                <option value="2">Kilat</option>
                                <option value="3">Reguler</option>
                                <option value="3">Hemat</option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="biaya_pengiriman">Biaya Pengiriman:</label>
                            <input type="number" class="form-control" id="biaya_pengiriman" name="biaya_pengiriman" th:field="*{biaya_pengiriman}" required>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-md-12 mt-4">
                    <div style="display: flex; flex-direction: column; align-items: right; margin-top: 10px; margin-bottom: 20px; width: 150px;">
                        <button class="btn btn-primary" type="submit" name="addRow" style="text-align: right;">+ Tambah Barang</button>
                    </div>
                    <table class="table table-striped table-bordered" style="margin-bottom: 50px;" id="barangTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Barang</th>
                                <th>Kuantitas</th>
                            </tr>
                        </thead>
                        <tbody>
                
                            <tr th:each="barang, iterationStatus : *{listBarang}">
                                <td th:text="${iterationStatus.index + 1}"></td>
                                <td>
                                    <select th:field="*{listBarang[__${iterationStatus.index}__].barang.sku}" class="form-control">
                                        <option th:each="barangExisting : ${listBarangExisting}" th:value="${barangExisting.sku}" th:text="${barangExisting.merk}"></option>
                                    </select>                                    
                                </td>
                                <td>
                                    <input th:field="*{listBarang[__${iterationStatus.index}__].kuantitas_pengiriman}" type="number" class="form-control" placeholder="Jumlah Kuantitas" required/>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
                <div style="text-align: center;">
                    <a href="/gudang" class="btn btn-danger">Batal</a>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
