<!DOCTYPE html>
<html lang="en" xmlns="http://wwww.w3.org/1999/xhtml" xlmns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<head th:fragment="css">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link rel="icon" href="../../static/images/logo.png" type="image/x-icon" sizes="16x16">

</head>
<head th:fragment="js">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>  
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
  <script src="/DataTables/datatables.js"></script>
</head>
<body>
  
</body>
</html>